<header>
    <nav class="d-flex justify-content-center navbar navbar-expand navbar-dark px-3">
        <ul class="navbar-nav mb-lg-0 navbar-home-ul">
            <li class="nav-item">
              <a class="nav-link" href="/"><img class="navbar-logo" src="/imgs/navbar.png"></a>
            </li>
          </ul>
    </nav>
</header>
  