<header>
    <nav class="d-flex justify-content-center navbar navbar-expand navbar-dark bg-dark px-3">
        <a href="/"><img class="navbar-logo" src="/imgs/favicon-32x32.png"></a>
    </nav>
</header>
  