<header>
    <nav class="d-flex justify-content-center navbar navbar-expand navbar-dark bg-dark px-3">
        <ul class="navbar-nav mb-lg-0 navbar-home-ul">
            <li class="nav-item">
              <a class="nav-link" href="/feed"><i class="fa-solid fa-house"></i> Home</a>
            </li>
          </ul>
    </nav>
</header>
  