<%- include('partials/header') -%>

  <div class="index-container-image">
    <div class="container-general">
      <main>
        <div class="row justify-content-center align-center index-log-container">
          <div class="d-flex justify-content-start col-10 index-log-container-box">
            <div class="d-flex flex-column justify-content-center">
              <h1 class="text-center my-5 index-h1">S<span class="animation-fc">o</span>und UP</h1>
              <p class="index-p text-center col-md-5">Connect with other music lovers and share your favorite tunes</p>
              <div class="d-flex flex-column mx-3 index-log-box">
                <a href="/login" class="d-flex justify-content-center btn my-3 index-log-in animation-bg">
                  <span style="flex: 1;">Log In</span>
                  <span><i class="fa-solid fa-arrow-right index-arrow"></i></span>
                </a>
                <a href="/signup" class="btn text-center mt-3 index-register">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="justify-content-center index-img-container"></div>
      </main>
    </div>
  </div>

    

<%- include('partials/footer') -%>