<%- include('partials/header') -%>

  <div class="main-container-image index-container-image">
    <div class="container-general">
      <main>
        <div class="main-container__container d-flex flex-column justify-content-center gap-5">
          <h1 class="main-title text-center">S<span class="animation-fc">o</span>und UP</h1>
          <p class="main-p text-center col-md-5">Connect with other music lovers and share your favorite tunes</p>
          <div class="main-container__log-box d-flex flex-column mx-3">
            <a href="/login" class="log-box__main-login d-flex justify-content-center align-items-center btn my-3 animation-bg gap-3">
              <span>Log in</span>
              <span><i class="fa-solid fa-right-long index-arrow"></i></span>
            </a>
            <a href="/signup" class="log-box__main-register d-flex justify-content-center align-items-center btn my-3">Register</a>
          </div>
        </div>
      </main>
    </div>
  </div>
  
<%- include('partials/footer') -%>