<%- include('partials/header') -%>

  <div class="container-contain">
    <main>
      <div class="row justify-content-center align-center log-container">
        <div class="d-flex justify-content-start col-10 log-container-box">
          <div class="d-flex flex-column justify-content-center">
            <h1 class="text-center my-5 h1-index">S<span class="animation-fc">o</span>und UP</h1>
            <p class="index-p text-center col-md-5">Connect with other music lovers and share your favorite tunes</p>
            <div class="d-flex flex-column mx-3 log-box">
              <a href="/login" class="d-flex justify-content-center btn my-3 log-in animation-bg">
                <span style="flex: 1;">Log In</span>
                <span><i class="fa-solid fa-arrow-right arrow-index"></i></span>
              </a>
              <a href="/signup" class="btn text-center mt-3 register">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="justify-content-center index-img-container"></div>
    </main>
  </div>

    

<%- include('partials/footer') -%>