<%- include('partials/header') -%>

  <div class="index-container-image">
    <div class="container-general">
      <main>
        <div class="index-container d-flex flex-column justify-content-center gap-5">
          <h1 class="text-center index-h1">S<span class="animation-fc">o</span>und UP</h1>
          <p class="index-p text-center col-md-5">Connect with other music lovers and share your favorite tunes</p>
          <div class="d-flex flex-column mx-3 index-log-box">
            <a href="/login" class="d-flex justify-content-center align-items-center btn my-3 index-log-in animation-bg gap-3">
              <span class="login-span">Log In</span>
              <span><i class="fa-solid fa-right-long index-arrow"></i></span>
            </a>
            <a href="/signup" class="d-flex justify-content-center align-items-center btn my-3 index-register">Register</a>
          </div>
        </div>
      </main>
    </div>
  </div>
    

<%- include('partials/footer') -%>