:root {
  --clr-background-header: #0c0c0c;
  --clr-background-primary: #080808 ;
  --clr-background-secondary: #101010;
  --clr-background-tertiary: #1e1e1e;
  --clr-background-border: #606061;

  --clr-font-pdark: #000000;
  --clr-font-plight: #ffffff;
  --clr-font-primary: #cbcbcb;
  --clr-font-secondary: #6622d4;
  --clr-font-extras: #6c757d;

  --fs-xl: 2.25rem; 
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.85rem;

  --ff-title: 'matroska', 'Dela Gothic One', sans-serif;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
}

@media (min-width: 40rem) {
  :root{
    --fs-xl: 3.5rem;
    --fs-600: 1.375rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/
/* General */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-background-primary);
  color: var(--clr-font-plight);
}
a {
  text-decoration: none;
}
a:hover {
  /* color: var(--clr-font-secondary); */
  opacity: 0.9;
}
.card {
  background-color: var(--clr-background-secondary);
  box-shadow: 0px 0px 0px 1px var(--clr-background-tertiary);
}
input,
textarea {
  color: var(--clr-font-extras) !important;
  background-color: var(--clr-background-tertiary) !important;
  border-color: var(--clr-background-border) !important;
}
input:focus,
.btn:focus,
textarea:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6) !important;
}
.card-header {
  background-color: var(--clr-background-secondary);
}

/* Header */
.navbar-logout {
  color: var(--clr-font-secondary) !important;
  margin-inline: 2rem;
}
.navbar-user,
.navbar-home {
  color: var(--clr-font-plight) !important;
}
.navbar-logout:hover,
.navbar-home:hover {
  color: var(--clr-font-plight) !important;
  opacity: 0.9;
}
.navbar-logo {
  padding-left: 2rem;
}


/* Index */
.index-log-container {
  background-image: url("../imgs/mobileLeft.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index-img-container {
  background-image: url("../imgs/mobileRight.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}
.index-log-in {
  color: var(--clr-font-pdark);
}
.index-p {
  color: var(--clr-font-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  font-weight: lighter;
}
h1
 {
  color: var(--clr-font-plight);
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
}
#titleSpan {
  color: var(--clr-font-secondary);
}
.index-register {
  color: var(--clr-font-plight)
}
.index-log-in,
.index-register {
  font-family: var(--ff-secondary);
  font-weight: bold;
  font-size: var(--fs-500);
}
h1,
.index-log-in,
.index-register {
  text-transform: uppercase;
}

/* Log In & Register */
.login-log-in,
h3,
label,
.card-text {
  color: var(--clr-font-plight);
}
.login-register {
  color: var(--clr-font-secondary);
}

/* Profile */
.profile-log-out,
.post-visit {
  color: var(--clr-font-plight);
}
.profile-log-out:hover,
.post-visit:hover {
  color: var(--clr-font-plight);
}
.username {
  text-transform: capitalize;
}
.profile-p-span {
  color: var(--clr-font-primary);
}

/* Feed */
.feed-username {
  color: var(--clr-font-plight);
}

/******************************************
/* LAYOUT
/*******************************************/
/* General */
.container-general {
  min-height: 100vh;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  margin-inline: auto;
}
main {
  max-width: 100%;
  min-width: 100%;
}
.content-container {
  padding-inline: 1rem;
  padding-block: 2rem;
}

/* Index */
.index-log-box {
  margin-top: 6rem;
}
.index-log-in {
  padding-block: 1.125rem;
}
.index-p {
  margin-top: 5rem;
}
.index-log-container {
  padding-bottom: 9rem;
}
.index-log-container-box {
  margin-top: 5rem;
}
.index-register {
  margin-top: 2rem !important;
}
.row {
  --bs-gutter-x: 0rem !important;
}

 /* Profile */
 .profile-btn-visit {
  width: 30%;
}
.post-textarea {
  width: 90%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* General */
.btn-new {
  background-color: var(--clr-font-secondary);
  color: var(--clr-font-plight);
}
.btn-new:hover {
  background-color: var(--clr-font-secondary);
  opacity: 0.9;
  color: var(--clr-font-plight);
}
/* Index */
.index-log-in {
  background: white;
  border-radius: 3.125rem;
}
.index-register {
  border: 0.125rem solid white;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.2rem;
}
.login-span {
    flex-grow: 1;
}

.animation-fc {
  text-shadow: 0.125rem 0.125rem 0.25rem #000000;
  animation: animation-fc 7s ease-in-out;
  animation-iteration-count: infinite;
}
.animation-bg {
  animation: animation-bg 7s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes animation-fc{
  0%{color: white;}
  50%{color: #6622d4;}
  100%{color: white;}
}
@keyframes animation-bg{
  0%{background-color: white; color: black;}
  50%{background-color: #6622d4; color:white;}
  100%{background-color: white; color: black;}
}

/* Log In & Register */
.login-log-in {
  background-color: var(--clr-font-secondary);
  border-color: var(--clr-font-secondary);
}

/* Profile */
.username-post {
  white-space: nowrap;
  align-self: flex-start !important;
}
.comment-text {
  word-break: break-word;
  text-align: initial;
}
.relatedposts {
  text-transform: capitalize;
}


/******************************************
/* MEDIA QUERY
/*******************************************/


@media (min-width: 50rem) {
/******************************************
/* BASE STYLES
/*******************************************/
/* Index */
  .index-container-image {
    background-image: url("../imgs/Index.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
  }
 .index-log-container {
  background-image: none;
  justify-content: start !important;
 }
 .index-h1,
 .index-p {
  text-align: initial !important;
 }
 .index-p {
  font-size: var(--fs-500);
 }

/******************************************
/* LAYOUT
/*******************************************/
/* General */
.container-general {
  width: min(90%, 70.5rem);
}

/* Index */
.index-img-container {
  display: none;
}
.index-log-box {
  flex-direction: row !important;
  margin-inline: 0 !important;
  gap: 5rem;
}
.index-log-container-box {
  margin-top: 0rem;
}
.index-register {
  margin-block: 1rem !important;
}
.index-log-in,
.index-register {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  font-size: var(--fs-300);
}
.index-arrow {
  padding-left: 1rem;
}
.index-p {
  width: 80%;
}
.index-log-container {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 0rem;
}

/* Feed */
.feed-container {
  justify-content: initial !important;
}

/* Post */
.post-content-container {
  padding-top: 2rem !important;
}

}























/* a{
  text-decoration: none;
  color: #106de6;
}

li {
  list-style: none;
}

  
.container {
  text-align: center;
}
  
.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
  
  .btn-primary:hover {
    background-color: #16a085;
    border-color: #16a085;
  }
  
  .btn-primary:focus {
    background-color: #1abc9c;
    border-color: #1abc9c;
    box-shadow: none;
  }
  
  .btn-primary:active {
    background-color: #1abc9c;
    border-color: #1abc9c;
    box-shadow: none;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
    background-color: #16a085;
    border-color: #16a085;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  
  .btn-primary.focus,
  .btn-primary:focus {
    background-color: #1abc9c;
    border-color: #1abc9c;
    box-shadow: none;
  }
  
  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: #1abc9c;
    border-color: #1abc9c;
    opacity: 0.65;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  
  .d-grid {
    text-align: center;
  }
  .btn {
    margin: 0.5rem;
  }
   */
  /* Adjust button font size for smaller screens */
 
/* Styles for small screens */

/* @media (max-width: 40rem) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .card {
    margin-bottom: 2rem;
  }
  .card {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .card-header h3 {
    margin-bottom: 0;
  }
  .card {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .card-header h3 {
    margin-bottom: 1.5rem;
  }
  .card-body {
    padding: 1rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
} */